services:
  trip-service:
    build:
      context: .
      dockerfile: Dockerfile.trip-service
    container_name: trip-service
    image: trip-service:latest
    ports:
      - "9082:9082"
    env_file:
      - .env
    depends_on:
      - trip-db
    restart: always

  trip-db:
    build:
      context: .
      dockerfile: Dockerfile.trip-db
    image: trip-db:latest
    container_name: trip-db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5436:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    restart: always

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - ./monitoring/grafana/dashboards:/var/lib/grafana/dashboards
      - ./monitoring/grafana/provisioning:/etc/grafana/provisioning
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    restart: always

volumes:
  pgdata:
